/* Conteneur pour aligner les cases */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Permet de passer à une nouvelle ligne si nécessaire */
  gap: 20px; /* Espacement entre les cases */
  padding: 20px;
}

/* Style des cases */
.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: filter 0.3s ease;
}

.blur {
  filter: blur(2px);
}

.border-red {
  border: red 2px solid;
}

.border-black {
  border: black 2px solid;
}

.new-size {
  width: 400px;
  height: 200px;
}